{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<body>
    <div class="hero-text">
        <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -120%); color: black;">Product List</h1>
    </div>
    <div class="mt-80 text-center">
        <div class="flex justify-center items-center space-x-4 my-5">
            <a class="pr-4 rounded-md px-4 py-2 text-lg bg-amber-800 font-medium text-white hover:bg-amber-950 hover:text-white transition-all duration-300 shadow-md flex items-center space-x-2 max-w-xs" href="{% url 'main:show_main' %}">
                <img src="/static/images/home.png" alt="Home Icon" class="w-5 h-5">
                <span>Let's go back to main page!</span>
            </a>
            <a href="{% url 'MyBites:wishlist' %}" class="rounded-md px-3 py-2 text-lg bg-gray-400 font-medium text-gray-900 hover:bg-gray-800 hover:text-white mx-5 my-5 shadow-lg transition-all duration-300">
                What's in MyBites?
            </a>
        </div>

        <div class="product-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 my-8 mx-8">
            {% for product in products %}
                <div class="product bg-gray-100 shadow-xl hover:shadow-xl transition-shadow duration-300 border border-gray-300 rounded-lg overflow-hidden mx-auto hover:border-gray-500 flex flex-col h-full">
                    <div class="p-6 flex-grow">
                        <h2 class="text-2xl font-extrabold text-gray-900 mb-4 tracking-wider uppercase shadow-sm border bg-gray-300 rounded-md">
                            {{ product.name }}
                        </h2>

                        <img src="{{ product.get_image_url }}" alt="{{ product.name }}" class="w-full h-auto mb-4 rounded-md shadow-lg">
                
                        <p class="text-gray-600 mb-2"><span class="font-semibold text-black">Store:</span> {{ product.store }}</p>
                        <p class="text-gray-600 mb-2"><span class="font-semibold text-black">Price:</span> <span class="text-amber-800">Rp. {{ product.price }}</span></p>
                        <p class="text-gray-600 mb-2"><span class="font-semibold text-black">Calories:</span> {{ product.calories }}</p>
                        <p class="text-gray-600 mb-2"><span class="font-semibold text-black">Description:</span> {{ product.description }}</p>
                
                        <div class="flex flex-wrap justify-center items-center mt-4 space-x-2 object-center">
                            <span class="bg-yellow-200 text-gray-800 px-2 py-1 rounded-full text-xs font-medium">Sugar Tag: {{ product.sugar_tag }}</span>
                            <span class="bg-yellow-300 text-gray-900 px-2 py-1 rounded-full text-xs font-medium">Vegan Tag: {{ product.vegan_tag }}</span>
                            <span class="bg-yellow-400 text-gray-900 px-2 py-1 rounded-full text-xs font-medium">Calorie Tag: {{ product.calorie_tag }}</span>
                        </div>                        
                    </div>
                    
                    <div class="mt-auto p-6">
                        <a href="{% url 'MyBites:add_to_wishlist' product.id %}" class="block text-center rounded-md px-4 py-2 bg-amber-900 text-white font-bold hover:bg-black hover:text-gray-100 transition-colors duration-300">
                            Add to MyBites
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>    
</body>
{% endblock content %}