{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="hero-text custom-hero">
    <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -180%); color: black;">MyBites!</h1>
</div>

<div class="mt-60 text-center">
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <div class="py-4">
            <a class="pr-4 rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-700 hover:text-white" href="{% url 'main:show_main'%} ">Back to main page</a>
            <a href="{% url 'MyBites:product_list'%}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-700 hover:text-white">Back to product list</a>
        </div>
        <ul>
            <div class="item-grid grid grid-cols-3 gap-4">
                {% for item in wishlist_items %}
                    <li>
                        <div class="product py-4 border p-4 rounded mx-5 my-5">
                            {{ item.product.nama_product }} 
                            <a href="{% url 'MyBites:remove_from_wishlist' item.product.id %}" class="text-blue-500">Remove</a>
                        </div>
                    </li>
                {% empty %}
                    <li>MyBites is empty.</li>
                {% endfor %}
            </div>
        </ul>
</div>
{% endif %}
{% endblock content %}