{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareBites</title>
    <style>
        textarea:focus {
            outline: none;
            border-color: #533A2E; /* Warna border saat fokus */
            box-shadow: 0 0 5px rgba(83, 58, 46, 0.5); /* Menambahkan efek shadow */
        }
    </style>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 20px; background-color: #FFFFFF; color: #000000;">
    <main style="max-width: 950px; margin: 0 auto;">
        <section>
            <div style="display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 20px;">
                <h1 style="color: #000000; font-size: 2.5em; margin-bottom: 10px;">All Posts</h1>
                <a href="{% url 'sharebites:create_post_sharebites' %}" 
                    style="display: inline-block; padding: 10px 20px; background-color: #533A2E; color: #FFFFFF; text-align: center; text-decoration: none; border-radius: 20px; font-size: 1.2em; 
                            transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; margin-top: 10px; 
                            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); font-weight: 600;"
                    onmouseover="this.style.boxShadow='0 8px 12px rgba(0, 0, 0, 0.2)'; this.style.transform='translateY(-4px)';" 
                    onmouseout="this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.1)'; this.style.transform='translateY(0)';">
                        Add Yours
                </a>
            </div>

            <div style="display: flex; flex-direction: column; gap: 20px;">
                {% for post in posts %}
                    <div style="display: flex; border: 1px solid #533A2E; border-radius: 8px; overflow: hidden; background-color: #FFFFFF; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s; cursor: pointer;">
                        <img src="{{ post.image }}" alt="{{ post.title }}" style="width: 350px; height: auto; border-radius: 8px 0 0 8px; object-fit: cover;">
                        <div style="padding: 15px; display: flex; flex-direction: column; flex: 1;">
                            <h2 style="margin: 0; font-size: 1.5em; color: #000000; text-align:left;">{{ post.title }}</h2>
                            
                            <!-- Tags Section -->
                            <div style="margin-top: 13px;">
                                {% if post.calorie_content == 'low' %}
                                    <span style="display: inline-block; padding: 5px 10px; margin: 2px; border-radius: 12px; background-color: #ECC424; color: #FFFFFF; font-size: 0.85em; font-weight: bold;">Low Calorie</span>
                                {% elif post.calorie_content == 'high' %}
                                    <span style="display: inline-block; padding: 5px 10px; margin: 2px; border-radius: 12px; background-color: #E0191C; color: #FFFFFF; font-size: 0.85em; font-weight: bold;">High Calorie</span>
                                {% endif %}
                                
                                {% if post.sugar_content == 'low' %}
                                    <span style="display: inline-block; padding: 5px 10px; margin: 2px; border-radius: 12px; background-color: #16B8E1; color: #FFFFFF; font-size: 0.85em; font-weight: bold;">Low Sugar</span>
                                {% elif post.sugar_content == 'high' %}
                                    <span style="display: inline-block; padding: 5px 10px; margin: 2px; border-radius: 12px; background-color: #2424EC; color: #FFFFFF; font-size: 0.85em; font-weight: bold;">High Sugar</span>
                                {% endif %}
                                
                                {% if post.diet_type == 'vegan' %}
                                    <span style="display: inline-block; padding: 5px 10px; margin: 2px; border-radius: 12px; background-color: #259B21; color: #FFFFFF; font-size: 0.85em; font-weight: bold;">Vegan</span>
                                {% elif post.diet_type == 'non-vegan' %}
                                    <span style="display: inline-block; padding: 5px 10px; margin: 2px; border-radius: 12px; background-color: #55F050; color: #000000; font-size: 0.85em; font-weight: bold;">Non-Vegan</span>
                                {% endif %}
                            </div>
                            
                            <div style="margin-top: 10px; margin-bottom: 10px;"> 
                                <p style="margin: 5px 0; color: #000000; text-align: justify;">{{ post.content }}</p>
                            </div>

                            <p style="margin: 5px 0; color: #666058; font-size: 0.9em;">Posted by: {{ post.user.username }}</p>
                            <p style="margin: 5px 0; color: #666058; font-size: 0.9em;">Created at: {{ post.created_at }}</p>
                            
                            <hr style="border: 1px light #000000; margin: 25px 0; width: 98%;">

                            <!-- Likes Count and Comments Title Section -->
                            <div style="margin-top: 10px; display: flex; align-items: center; justify-content: space-between;">
                                <h3 style="font-size: 1.2em; margin: 0; color: #000000;">Comments:</h3>
                                <div style="display: flex; align-items: center;">
                                    <a href="{% url 'sharebites:like_post' post.pk %}" style="display: flex; align-items: center;">
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            viewBox="0 0 24 24" 
                                            fill="white" 
                                            stroke="red" 
                                            style="width: 25px; height: 25px; stroke-width: 2;"
                                            onmouseover="this.setAttribute('fill', 'red');" 
                                            onmouseout="this.setAttribute('fill', 'white');">
                                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                                        </svg>
                                    </a>
                                    <span style="margin-left: 10px; font-size: 1.1em; color: #000000;">{{ post.likes.count }}</span>
                                </div>
                                
                            </div>

                            <!-- Comments Section -->
                            <div style="margin-top: 15px;">
                                {% for comment in post.comments.all %}
                                    <div style="margin-bottom: 5px;">
                                        <strong style="color: #000000;">{{ comment.user.username }}</strong>: <span style="color: #666058;">{{ comment.content }}</span>
                                    </div>
                                {% empty %}
                                    <p style="color: #999;">No comments yet.</p>
                                {% endfor %}
                                
                                <form action="{% url 'sharebites:add_comment' post.pk %}" method="post" style="margin-top: 10px;">
                                    {% csrf_token %}
                                    <textarea name="content" rows="3" placeholder="Type a comment" required style="width: 95%; padding: 10px; border: 1px solid #CCBFB0; border-radius: 5px; margin-top: 5px; color: #000000;"></textarea>
                                    <div style="display: flex; gap: 10px; margin-top: 5px;">
                                        <button type="submit" 
                                                style="background-color: #CCBFB0; color: white; font-weight: 600; padding: 12px 24px; border: none; border-radius: 0.375rem; transition: background-color 0.3s ease-in-out; width: 100%;"
                                                onmouseover="this.style.backgroundColor='#533A2E';" 
                                                onmouseout="this.style.backgroundColor='#CCBFB0';">
                                            Post Comment
                                        </button>
                                    </div>
                                </form>
                                <form action="{% url 'sharebites:delete_post' pk=post.pk %}" method="post" style="margin-top: 10px;">
                                    {% csrf_token %}
                                    <button type="button" 
                                            style="background-color: #CCBFB0; color: white; font-weight: 600; padding: 12px 24px; border: none; border-radius: 0.375rem; transition: background-color 0.3s ease-in-out; width: 100%;"
                                            onmouseover="this.style.backgroundColor='#533A2E';" 
                                            onmouseout="this.style.backgroundColor='#CCBFB0';">
                                        Delete Post
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p style="text-align: center; color: #666058;">No posts available.</p>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>
