{% load static %}
<nav class="bg-black">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" id="mobile-menu-button" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <!-- Logo -->
          <div class="flex items-center">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="h-10 w-auto">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Home Link -->
              <a href="{% url 'main:show_main' %}" class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'show_main' %}text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                Home
              </a>             
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              {% if not user.is_staff %}
                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'artibites' %}text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                  ArtiBites
                </a>
                <a href="{% url 'MyBites:wishlist' %}" class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'wishlist' %}text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                  MyBites
                </a>
                <a href="/bite_tracker/" class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'trackerbites' %}text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                  TrackerBites
                </a>
                <a href="{% url 'sharebites:show_main' %}" class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'show_main' and request.path == '/sharebites/' %}text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                  ShareBites
                </a>
                <a href="{% url 'editbites:product_list' %}" class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'show_main' and request.path == '/editbites/' %}text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                  Products
                </a>
              {% elif user.is_staff %}
                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'show_main' and request.path == '/artibites/' %}text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}" aria-current="page">
                    ArtiBites
                </a>
                <a href="{% url 'editbites:product_list' %}" class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'show_main' and request.path == '/editbites/' %}text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                  Products
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          {% if user.is_authenticated %}
            <span class="ml-3 text-sm" style="color: white;">Welcome, {{ user.username }}</span>
          {% endif %}

          <div class="relative ml-3">
            {% if user.is_authenticated %}
              <a href="/logout" 
                style="background-color: #FFFFFF; color: #000000; border-radius: 0.375rem; padding: 0.4rem 1rem; display: inline-block; text-align: center; text-decoration: none; transition: transform 0.3s ease, background-color 0.3s ease;"
                onmouseover="this.style.backgroundColor='#F5F5F5'; this.style.transform='translateY(-3px)';" 
                onmouseout="this.style.backgroundColor='#FFFFFF'; this.style.transform='translateY(0)';">Log out</a>
            {% else %}
              <a href="/login" 
                style="background-color: #FFFFFF; color: #000000; border-radius: 0.375rem; padding: 0.4rem 1rem; display: inline-block; text-align: center; text-decoration: none; transition: transform 0.3s ease, background-color 0.3s ease;"
                onmouseover="this.style.backgroundColor='#F5F5F5'; this.style.transform='translateY(-3px)';" 
                onmouseout="this.style.backgroundColor='#FFFFFF'; this.style.transform='translateY(0)';">Log in</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="{% url 'main:show_main' %}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white" aria-current="page">Home</a>
        {% if not user.is_staff %}
        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">ArtiBites</a>
        <a href="{% url 'MyBites:wishlist' %}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">MyBites</a>
        <a href="/bite_tracker/" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">BiteTracker</a>
        <a href="{% url 'sharebites:show_main' %}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">ShareBites</a>
        <a href="{% url 'editbites:product_list' %}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Products</a>
        {% elif user.is_staff %}
        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">ShareBites</a>
        <a href="{% url 'editbites:product_list' %}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">ShareBites</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <script>
    document.getElementById('user-menu-button').addEventListener('click', function() {
      var menu = document.getElementById('user-menu');
      menu.classList.toggle('hidden');
    });
    
    document.getElementById('mobile-menu-button').addEventListener('click', function() {
      var mobileMenu = document.getElementById('mobile-menu');
      mobileMenu.classList.toggle('hidden');
    });
  </script>